@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;500&display=swap');
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* background-color: #0000008a; */
}
#main {
    display: flex;
    justify-content: center;
}
.container {
    width: 1200px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: #aab4b791; */

}
li, p, a, footer .right{
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    text-decoration: none;
}
h2{
    font-size: 26px;
    color: #42A7C2;
}
.left-container{
    /* background-color: #42A7C2; */
}
.left-Navi{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 10px 50px 0 0;
    border: 2px solid #E1E8EF;
    position: fixed;
}
.left-Navi .menu-navigation ul li a {
    margin: 0 20px;
    color: #000;
}
.left-Navi .logo-navigation img{
    margin: 32px 20px 0 20px;
}
.left-Navi .logo-navigation button{
    color: #FFF;
    width: 176px;
    height: 43px;
    background-color: #42A7C2;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    margin: 18px 20px 27px 20px;
}
.left-Navi .menu-navigation ul li{
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #E1E8EF;
}
.left-Navi .menu-navigation ul li img{
    margin-right: 20px;
}
.left-Navi ul li{
    display: block;
}

/* header */
.right-container{
    /* width: 931px;
    height: 2940px; */
    /* background-color: gray; */
    /* height: 760px; */
}
 
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.header ul li{
    list-style: none;
    display: inline-block;
    margin: 10px 0;
}
.header ul li a{
    font-size: 14px;
    transition: all 0.3 ease 0s;
    color: #7B7B7B;
}
.header ul li:hover a{
    color: #42A7C2;
}
.nav-home{
    order: 1;
}
.nav-links{
    order: 2;
}
/* wrap search */
.wrap-search{
    background-color: #EAF1F7;
    height: 90px;
    width: 930px;
    border-radius: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.wrap-search .left p{
    margin-left: 84px;
}
.wrap-search .right{
    display: flex;
    align-items: center;
    width: 533px;
    margin-right: 100px;
}
.wrap-search .right .search{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.wrap-search .right .search img{
    margin-left: 20px;
}
.wrap-search .right .search input{
    height: 45px;
    width: 350px ;
    padding: 5px;
    margin: 0 5px;
    font-size: 16px;
    border: none;
    outline: none;
}
.wrap-search .right .search{
    background-color: #FFF;
    height: 50px;
    width: 426px;
    border-radius: 60px;

}
.wrap-search .right .button-search button{
    height: 49px;
    width: 94px;
    color: #FFF;
    background-color: #42A7C2;
    border:  none;
    border-radius: 10px;
    font-size: 16px;
    margin-left: 10px;
}

.search_Button button{
    padding: 9px 25px;
    background-color: #42A7C2;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    color: #FFF;
    font-size: 16px;
}
/* title guide */
.title-guide{
    display: flex;
    margin: 48.5px 0 20px 0;
}
.title-guide .right h2{
    margin-left: 20.3px;
}


/* conten-guide */
.conten-guide p{
    text-align: center;
    color: #42A7C2;
}
.table-start{
    display: flex;
    justify-content: space-between;
}
.table-start .table{
    height: 145px;
    width: 300px;
    border: 1px solid #42A7C2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-start .table div{
    height: 54px;
    width: 204px;
}
.table-start .table img{
    margin-bottom: 15.7px;
}
.table-end{
    display: flex;
    justify-content: space-between;
}
.table-end .table{
    height: 145px;
    width: 300px;
    margin-top: 15px;
    border: 1px solid #42A7C2;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.table-end .table div{
    height: 54px;
    width: 204px;
}
.table-end .table img{
    margin-bottom: 15.7px;
}
/* conten-output */
.conten-output {
    margin-top: 87px;
    display: flex;
}
.conten-output .right h2, .right p{
    margin-left: 20.3px;
}
/* content-output-icon */
.content-output-icon{
    height: 806px;
    margin-top: 30px;
    /* border: 1px solid #42A7C2; */
}
.content-output-icon h2{
    font-size: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content-output-icon .subTitle{
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #42A7C2;
}
.content-output-icon .start{
    height: 284px;
    /* background-color: red; */
}
.content-output-icon .center{
    height: 284px;
    /* background-color: yellow; */
}
.content-output-icon .end{
    height: 284px;
    /* background-color: blue; */
}
.content-output-icon .table-subTitle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}
.content-output-icon .table-subTitle .table{
    height: 160px;
    width: 220px;
    background-color: #EAF1F7;
    border-radius: 8px;
    /* margin-right: 21px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content-output-icon .table-subTitle .table p{
    margin-top: 29px;
    color: #42A7C2;
}
.content-output-icon .line1 {
    height: 4px;
    width: 214px;
    background-color: #42A7C2;
}
.content-output-icon .line2, .line3 {
    height: 4px;
    width: 210px;
    background-color: #42A7C2;
}
/* title-function */
.title-function {
    margin-top: 96px;
    display: flex;
}
.title-function .right h2{
    margin-left: 20.3px;
}
/* content-function */
.content-function {
    height: 796px;
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}
.content-function .left{
    width: 457.5px;
}
.content-function .left .subTitle .line1{
    height: 4px;
    width: 60px;
    background-color: #42A7C2;
}
.content-function .left .subTitle .line2{
    height: 4px;
    width: 80px;
    background-color: #42A7C2;
}
.content-function .left .subTitle .line3{
    height: 4px;
    width: 119px;
    background-color: #42A7C2;
}

.content-function .left .text{
    margin: 22px 0px 40px 0px;
}
.content-function .left .text ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-function .left .text ul li{
    display: block;
}
.content-function .left .text ul li a{
    color: #42A7C2;
}
.content-function .right{
    width: 457.5px;
}
.content-function .right .text ul li{
    display: block;
}
.content-function .subTitle{
    height: 53px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid #42A7C2;
}
.content-function .subTitle h2{
    font-size: 20px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
.content-function .right .text ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.content-function .right .text {
    margin: 22px 0px 40px 0px;
}
.content-function .right .text ul li a {
    color: #42A7C2;
}
.content-function .right .subTitle .line4{
    height: 4px;
    width: 60px;
    background-color: #42A7C2;
}
.content-function .right .subTitle .line5{
    height: 4px;
    width: 160px;
    background-color: #42A7C2;
}
.content-function .right .subTitle .line6{
    height: 4px;
    width: 179px;
    background-color: #42A7C2;
}
footer{
    width: 100%;
    height: 75px;
    background-color: #333333;
    display: flex;
    justify-content: right;
    align-items: center;
}
footer .center{
    /* margin-right: 360px; */
    color: #FFF;
    font-family: 'Noto Sans JP', sans-serif;
    width: 465px;
}
footer .end{
    width: 360px;
}

@media only screen and (max-width: 1200px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin-top: 247px;
    }
    .container .left-container{
        background-color: #FFF;
        display: contents;
    }
    .container .left-container .left-Navi {
        width: 930px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: none;
        margin-right: 0;
        overflow: hidden;
        position: fixed; /* Đặt thanh menu vào vị trí sticky */
        top: 0; /* Đặt thanh menu ở đầu trang */
        width: 100%;
        background-color: #FFF;
    }
    .container .left-Navi .logo-navigation ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        width: 930px;
    }
    .container .left-Navi .menu-navigation ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E1E8EF;
        width: 930px;
    }
    .container .left-Navi .menu-navigation ul li{
        border:  none;
    }
}
@media only screen and (max-width: 970px){
    /* .container .left-container .left-Navi .logo-navigation{
        width: 820px;
    }
    .container .left-container .left-Navi .menu-navigation{
        width: 820px;
    }

    .container .right-container .header{
        width: 820px;
    } */
}
@media only screen and (max-width: 390px){
    .container{
        margin-top: 247px;
    }
    .container .left-container .left-Navi .logo-navigation{
        width: 390px;
        
    }
    .container .left-container .left-Navi .menu-navigation ul{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        border: 1px solid #E1E8EF;
        width: 390px;
    }

    .container .right-container{
        margin-top: 247px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .right-container .header{
        width: 390px;
        height: 70px;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: flex-end;
    }
    .container .right-container .wrap-search{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 390px;
        height: 160px;
        border-radius: 0px;
    }
    .container .right-container .wrap-search .left p{
        margin: 15px 0 0 0;
    }
    .container .right-container .wrap-search .right{
        height: 50px;
        width: 350px;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        margin: 0 0 20px 0;
    }
    .container .right-container .wrap-search .right .search{
        width: 320px;
    }
    .container .right-container .wrap-search .right .search input {
        height: 45px;
        width: 255px;
    }
    .container .right-container .wrap-search .right .button-search button {
        margin: 15px 0;
        width: 320px;
    }
    .container .title-guide{
        width: 390px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .title-guide .right h2, .container .title-guide .right p{
        margin: 0 20px;
    }
    .conten-guide{
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .conten-guide .table-start{
        width: 380px;
        height: 435px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .conten-guide .table-start .table{
        margin-top: 15px;
    }
    .container .conten-output{
        width: 390px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .conten-output .right h2, .container .conten-output .right p{
        margin: 0 20px;
    }
    .conten-guide .table-end{
        width: 380px;
        height: 435px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    .content-output-icon {
        height: auto;
    }
    .content-output-icon .start{
        height: 780px;
    }
    .container .subTitle h2{
        margin-left: 50px;
    }
    .content-output-icon .table-subTitle{
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content-output-icon .table-subTitle .table{
        margin-top: 15px;
    }
    .conten-guide .table-subTitle .table{
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content-output-icon .center{
        height: 780px;
    }
    .container .subTitle h2{
        margin-left: 50px;
    }
    .content-output-icon .table-subTitle{
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content-output-icon .table-subTitle .table{
        margin-top: 15px;
    }
    .conten-guide .table-subTitle .table{
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content-output-icon .end{
        height: 780px;
    }
    .container .subTitle h2{
        margin-left: 50px;
    }
    .content-output-icon .table-subTitle{
        width: 390px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .content-output-icon .table-subTitle .table{
        margin-top: 15px;
    }
    .conten-guide .table-subTitle .table{
        width: 380px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .title-function{
        width: 390px;
        height: 260px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .container .title-function .right h2, .container .title-function .right p{
        margin: 0 20px;
    }

    .content-function {
        height: 796px;
        margin-top: 40px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .content-function .left {
        width: 180px;
    }
    .content-function .right {
        width: 180px;
    }
    .content-function .subTitle {
        /* height: 53px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        border-top: 1px solid #42A7C2; */
        margin-right: 10px;
    }
    footer .center{
        margin: 0 20px;
    }
    footer .end {
        width: 0;
    }

}